<% @code = true %>
<div id="wrapper">
	<h1><span class="volcanic">Snews Source</span></h1>
	<pre class="brush: ruby">
<%= h File.read('lib/snews.rb') %>
	</pre>
	<h1><span class="onfire">Snews Caching Mechanism</span></h1>
	<pre class="brush: ruby">
<%= h File.read('lib/cachify.rb') %>
	</pre>
	<h1><span class="spicy">Snews Javascript</span></h1>
	<pre class="brush: js">
<%= h File.read('public/snews.js') %>
	</pre>
</div>
